extends index.pug

block content
  h1= `${communityName}'s' Members`

  table
    tr
      th Member ID
      th Community ID
      th Join Date
      th Role
    tr
      td
        a(href= `/member/${communityMembership.member_id} View Members`)
      td
        a(href= `/community/${communityMembership.community_id}`)
      td= communityMembership.join_date && communityMembership.join_date ? communityMembership.join_date : 'N/A'
      td
        a(href= `/communities-membership/${communityMembership.member_id} View Members`)
